.removeMore {
    float: right;
    margin-top: 8px;
}
#addMore {
    float: right;
    margin-top: 8px;
}
.navbar.btn-toolbar.sw-toolbar.sw-toolbar-bottom {
	margin-top: 60px;
}
.extra-link {
	padding: 15px;
	background-color: #babedd;
	text-align: center;
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 77px;
}
}
.extraTab {
    margin-top: 89px;
}

       .thumb
{
	width: 50px;
    height: 50px;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview
{
    position:relative;
    top:-25px;
    right:5px;
    background:red;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before
{
    content: "×";
}

.preview {
    margin-top: 50px;
}
.border-radius{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.border-radius{
    padding: 2px;
    border: 1px solid #000;
}
.custom-panel .tile-stats{
    padding: 0px;
}
.custom-panel .tile-stats .count{
    float: left!important;
    display: inline-block!important;
} 
.custom-panel .tile-stats h3{
    float: left!important;
    display: inline-block!important;
    margin-top: 5%;
    padding-right: 5%;
} 
.custom-panel .tile-stats .mysubsdivcount{
    float: left;
    width: 100%;
    padding: 0px 15px;
}
.custom-panel .tile-stats .mysubsdivcount h5{
    float: left;
    padding-left: 14%;
}
.custom-panel .tile-stats .dashboard-blocks {
    float: left;
}
/******************sign in toggle**************/

.signin-block{
    margin: 0 auto;
}
.signin-block .signin-block form{
    margin-top:10%;
}
.signin-block .signin-block form h5{
    color: #fff;
    padding-left: 2%;
}