.removeMore {
    float: right;
    margin-top: 8px;
}
#addMore {
    float: right;
    margin-top: 8px;
}
.navbar.btn-toolbar.sw-toolbar.sw-toolbar-bottom {
	margin-top: 60px;
}
.extra-link {
	padding: 15px;
	background-color: #babedd;
	text-align: center;
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 77px;
}
}
.extraTab {
    margin-top: 89px;
}

       .thumb
{
	width: 50px;
    height: 50px;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview
{
    position:relative;
    top:-25px;
    right:5px;
    background:red;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before
{
    content: "×";
}

.preview {
    margin-top: 50px;
}