@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
/* start loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


/* end loader*/

.form-control:focus {
	color: inherit;
	background-color: inherit;
	border-color: transparent;
	outline: none;
}
.clip-svg {
	width: 0;
	height: 0;
}
.polygon-each-img-wrap img {
	max-width: 100%;
	width: 40px;
	height: 45px;    min-height: auto !important;
}
.polygon-clip-hexagon {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	/*-webkit-clip-path: url("#polygon-clip-hexagon"); */
	clip-path: url("#polygon-clip-hexagon");
}
.header1 {
	border-bottom: 1px solid #cdcdcd;
	padding:8px 8px 0px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);	
}
.head-home{
padding-bottom: 10px;
}
.polygon-each-img-wrap {
/*float:left;
margin-right:10px;	 */
}
.search_micro {
	position: absolute;
	right: 10px;
	z-index: 10;
	color: #989898;
	top: 10px;
}
.head-search {
	position: relative;
	color: #ededed;
	border-radius: 5px;
	background: #ededed;
	border-color: transparent;
}
.alert2 {
	margin-bottom: 0px;
	padding: 0.75rem 0rem;
}
.alert2 h1 {
	font-size: 2.75rem;
	margin: 0px 5px;
	color: #aaaaaa;
}
.alert2.open h1 {
	color: #000
}
.dropdown-menu:before {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	left: 10px;
	margin: auto;
	top: -10px;
	border-bottom: 10px solid rgba(0,0,0,0.2);
}
.alert2 .dropdown-menu {
	min-width: 300px;
	left: 0px;
	right: 0px;
}
.lib-text {
	color: #000;
	text-transform: uppercase;
	margin: 10px;
}
/* home page section*/
.section1 {
	padding: 40px;
	position: relative;
}
.recent p {
	color: #aeaeae;
	font-size: 15px;
}
.recent i {
	margin-right: 10px;
	margin-left: 5px;
}
.category_list ul li {
	padding: 5px 0px 0px 5px;
	float: left;
	width: calc(12.5% - 20px);
	position: relative;
	margin: 10px;
	list-style-type: none;
	overflow: hidden;
}
.category_list ul li img{
    min-height: 380px;
    object-fit: cover;
    width: 100%;
    max-height: 380px;
}

.catlist_text {
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
}
.catlist_text h2 {
	color: #fff;
	font-size: 18px;
	margin-top: 35px;
	text-align: center;
	text-transform: uppercase;
}
.category_list ul li a.cat_link:before {
	background: rgba(0,0,0,0.5);
	content: '';
	width: 97%;
	height: 99%;
	position: absolute;
}
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.cmn-toggle-round-flat + label {

	margin: auto;
	width: 94%;
	border: 1px solid #fff;
	height: 45px;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0.6);
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
	background-color: rgba(255,255,255,0.1);
}

input.cmn-toggle-round-flat + label .subscribe {
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 100;
	text-align: center;
	font-size: 12px;    float: left;
	width: 59%;
    line-height: 45px;text-transform: uppercase;
    color: #333;
	right: 2px;
	
	background-color: #fff;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label .subscription-count {
	top: 0px;
	right: 0px;
	    line-height: 45px;
	bottom: 0px;
	
	color: #fff;    text-align: center;
	text-transform: uppercase;
	width: 41%;display: inline-block;
	font-size: 13px;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}
/*
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}*/
input.cmn-toggle-round-flat + label .subscribe-check {
    display: inline-block;
	background-color: rgba(0,0,0,0.7);
 	content: "\e5ca";
 	font-family: 'icomoon' !important;
	line-height: 42px;border:1px solid #fff;
	text-align: center;
	text-indent: -99px;
	top: 0px;
    right: 0px;
    line-height: 42px;
    bottom: 0px;
    background: url(http://iconmaker.net/gd/makefg.php?i=icons/Application/Check.png&r=255&g=255&b=255);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 41%;
    color: #fff;    background-position: center;
    background-repeat: no-repeat;
    background-size: 28%;
    font-size: 13px;
    -webkit-border-radius: 52px;    text-indent: -9999px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat + label .subscribe-number {
		top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 100;font-size: 12px;    float: left;
	width: 59%;right: 2px;
    line-height: 45px;text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	background: transparent;
	color: #fff; text-align:center;
	border:none;
	line-height: 45px;
	webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

.switch1 {
	bottom: 10px;
	position: absolute;
	width: 100%;
	left: 2px;
	right: 0px;
}
.popular_text {
	color: #fff;
	background: #36839a;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	left: -40px;
	text-align: center;
	top: 5px;
	font-size: 11px;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	-ms-transform: rotate(-21deg);
	-webkit-transform: rotate(-21deg);
	transform: rotate(-21deg);
}
/*
.hex {
position: relative;

    width: 20px;
    height: 33px;
    border-radius: 1em/.1em;
    background: #ccc;
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: 3em;
    margin-left: 20px;
    transition: all 150ms ease-in-out;
}
.hex:before, .hex:after {
position: absolute;
width: inherit; height: inherit;
border-radius: inherit;
background: inherit;
content: '';
}
.hex:before {
transform: rotate(60deg);
}
.hex:after {
transform: rotate(-60deg);
}
.number {
 position: fixed;
    z-index: 100;
    margin-top: 5px;
    margin-left: -60px;

}
*/

.bottom-left{
position:;
left:0px;
bottom:100px;	
}.hexagon {
   position: relative;
    width: 25px;
    margin-top: 5px;
    height: 14.43px;
    background-color: transparent;
    border-left: solid 2px #aaaaaa;
    border-right: solid 2px #aaaaaa;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 17.13px;
    height: 17.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 1.934px;
}

.hexagon:before {
	top: -8.066px;
    border-top: solid 2px #aaaaaa;
    border-right: solid 2px #aaaaaa;
}
.hexagon:after {
    bottom: -9.066px;
    border-bottom: solid 2px #aaaaaa;
    border-left: solid 2px #aaaaaa;
}

.property_back{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    width: 50px;
    font-size: 22px;
    height: 50px;
    color: #fff;
    right: 0px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
}

.hex_img{
    position: absolute;
    left: 0px;
    right: 0px;
    top: -5px;z-index:100;
    text-align: center;
}

.cat-img{
overflow:visible !important;
}

.hb-custom, .hb-custom:after, .hb-custom:before {
    background: #ebebeb;
      color: #888;
    font-size: 22px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.hb-md, .hb-md:after, .hb-md:before {
    height: 23px;
    width: 40px;    line-height: 23px;
}

.hb:after {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}.hb:after, .hb:before {
    position: absolute;
    content: "";
    left: -1px;
    top: 0;
    z-index: -1;
}.hb {
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 0;
}.hb:before {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.family_img{
min-height: auto !important;
    margin-top: -8px;
    height: 40px;
    width: 44px;
    margin-left: -3px;	
}

.basic_premium, .premium_premium{
position:absolute;
bottom:60px;	left: 0px;
    right: 0px;
    padding: 10px;
}
.basic_premium .progress, .premium_premium .progress{
height:8px;     margin-bottom: 0px; background-color: rgba(255,255,255,0.7);
}
.basic_premium h3, .premium_premium h3{
	font-size:14px;
	color:#fff;
	margin-top:0px;
	padding:0px 5px;text-transform:uppercase;
}
.basic_premium h3 span, .premium_premium h3 span{
font-size:10px;	
}.basic_premium .progress-bar{    border-radius: 4px;
background:rgba(255,0,0,1);	
}
.premium_premium .progress-bar{    border-radius: 4px;
background:#1a7429;	
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;	
}
.navbar{
min-height:auto;
margin-bottom:0px;	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
background:transparent;	
color:#0096f9
}
.navbar-nav > li.active{
border-bottom:1px solid #0096f9;margin-bottom: -1px;
}
.hex_ques{
position:absolute;
bottom:90px;;left:20px;	
}
.hex_help{
position:absolute;
bottom:40px;;left:20px;		
}
.hb-custom1, .hb-custom1:after, .hb-custom1:before {
    background: transparent;
    color: #888;
   
    border-left: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
}
.hb-md1, .hb-md1:after, .hb-md1:before {
    height: 23px; font-size: 22px;
    width: 40px;    line-height: 23px;
}
.hb1:after {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}.hb1:after, .hb1:before {
    position: absolute;
    content: "";
    left: -2px;
    top: 0;
    z-index: -1;
}.hb1 {
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 0;
}.hb1:before {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.residential_grid_ul > li{
	list-style:none;
	display:inline-block;
	width:20%;    float: left;    min-height: 360px;
	padding: 10px 30px;   margin: 30px 0px 20px;
}
.residential_img{
	padding:10px;
	width:80%;
	margin:auto;	
	position:relative;
}
.residential_img > img{
    min-height: 130px;	
}
.residential_img > img{
 max-height: 130px;
}
.property_name{
position:absolute;
color:#fff;
z-index:10;text-align:center;left:0px;
right:0px; bottom: 25px;
font-size: 12px;
}
.property_number{
	top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
   text-align: center;
}
.color-bg1, .color-bg1:after, .color-bg1:before {
    background: #10d274;
  	border-left: 2px solid #10d274;
    border-right: 2px solid #10d274;
}
.color-bg2, .color-bg2:after, .color-bg2:before {
    background: #deaa66;
  	border-left: 2px solid #deaa66;
    border-right: 2px solid #deaa66;
}
.color-bg3, .color-bg3:after, .color-bg3:before {
    background: #00581f;
  	border-left: 2px solid #00581f;
    border-right: 2px solid #00581f;
}
.color-bg4, .color-bg4:after, .color-bg4:before {
    background: #000;
  	border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.color-bg5, .color-bg5:after, .color-bg5:before {
    background: #d2d06b;
  	border-left: 2px solid #d2d06b;
    border-right: 2px solid #d2d06b;
}
.color-bg6, .color-bg6:after, .color-bg6:before {
    background: #da515a;
  	border-left: 2px solid #da515a;
    border-right: 2px solid #da515a;
}
.color_white{
color:#fff;	
}
.property_list ul li{
	list-style:none;
	border-bottom:1px solid #ccc;
	position:relative;    margin: 5px 0px;min-height:44px;
}
.property_list ul li:last-child{
	border:none;
}
.no-padd{
padding-left:0px !important;
padding-right:0px !important;	
}
.property_list ul li h4{
font-weight:700;
color:#000;
font-size:14px;
margin:0px;	
}
.property_list ul li h5{
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 5px;
}
.blue_color{
	color:#0096f9;	
}
.property_list ul li img{
margin:auto;	
}




.mega-dropdown {
  position: static !important;

}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
    border-bottom: 10px solid #fff;
    border-right: 15px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -6px;
    left: 167px;
    z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
    border-bottom: 10px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 167px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.resi_menu {
    width: 10%;
    float: left;
    margin: 0px 10px;
}
.resi_menu h4 {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.border-right{
border-right:1px solid #ccc;	
}
.resi_detail h4{
	color: #b7b7b7;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0px;
    letter-spacing: 1px;
    font-size: 12px;
}
.resi_detail h3{
	color: #0096f9;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 12px;
}
.resi_detail p{
margin-bottom:5px;
font-size:13px;	
}
.help_menu{
	position: absolute;
    left: 80px;
 	bottom: 20px;
    background: #fff;
    border-radius: 5px;
    width: 220px;
    padding: 10px 20px;z-index:10;
    border: 1px solid #cdcdcd;
}


.ques_menu{
	position: absolute;
    left: 80px;
 	bottom: 40px;
    background: #fff;
    border-radius: 5px;
    width: 220px;
    padding: 0px;z-index:10;
    border: 1px solid #cdcdcd;
}

.logout{
background:#000;
color:#fff;text-align:center;
font-size:14px;padding:10px;	
}
.help_menu ul, .ques_menu ul{
position:relative;	
}

.help_menu ul li{
list-style: none;
    padding: 8px;
    font-weight: 700;
}

.help_menu ul:before{
	content: "";
    border-bottom: 10px solid transparent;
    border-right: 15px solid #cdcdcd;
    border-top: 10px solid transparent;
    position: absolute;
    left: -36px;
    bottom: 10px;
    z-index: 10;
  
}

 .ques_menu ul:before {
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 15px solid #cdcdcd;
    border-top: 10px solid transparent;
    position: absolute;
    left: -16px;
    bottom: 45px;
    z-index: 10;
}
.ques_menu ul li span {
font-size: 20px;	margin-right:10px;
float:left;
}
.ques_menu ul li {
    list-style: none;
    padding: 12px;
    border-bottom: 1px solid #cdcdcd;
    font-weight: 700;
}
.ques_menu ul li:last-child {
border-bottom:none;	
}
.sign-up-subscription {
	text-align: center;
	float: right;
	margin-right: 200px;
	a: hover;
	color: blue;
}

.sign-up-subscription:hover {
	cursor: pointer;
}

/* show popup for property */

@charset "UTF-8";
/* CSS Document */


.filter_result{
position:absolute;background:#fff;
width:360px;height:100%;z-index:100;top:0px;right:0px;border: 1px solid #cdcdcd;border-top: 0px;
}
.result-num{
    font-size: 16px;
    text-align: right;
    padding: 0px 30px;    margin-bottom: 0px;
    margin-top: 10px;font-weight:600;
}
.result-num span{
color:#0096b7;	
}
.result-img{
	min-height:250px;
	max-height:250px;
	position:relative;    
	height: 250px;
    overflow: hidden;
}
.result-img img{
height:100%;	
}
.result-text{
position:absolute;	   top: 20px;
    left: 20px;    width: 100%;
  
}
.result-heart{
	color:#fff;font-size:25px;
}
.property-name h3{
	font-size: 16px;
    color: #fff;
    margin-top: 0px;
}
.property-name h4{
	color: #fff;
    margin: 0px;
    font-size: 13px;
}
.result-visit{
position:absolute;
bottom:20px;
left:20px;color:#fff;	
}
.result-visit span{
color:#026290;	
}
.result-list ul li img{
	margin:auto;    height: 30px;
}
.result-list ul li h4 {
    font-weight: 700;
    color: #000;
    font-size: 14px;
       margin-bottom: 0px;
}
.result-list ul li h5 {
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 5px;
}
.result-list ul li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin: 5px 0px;
    min-height: 44px;line-height: 44px;
}

.image-bg {
 
  filter: contrast(31%);
}
.togle-butn-right{
    position: absolute;
    width: 30px;
    height: 45px;
  	right:0px; 
    background: #fff;
    border: 1px solid #808080 ;
    color: #808080 ;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    top: -50px;
    cursor: pointer;
    z-index: 1000;
    margin-left: -32px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.togle-butn-left{
    position: absolute;
    width: 30px;
    height: 45px;
    right:360px;  
    background: #fff;
    border: 1px solid #808080 ;
    color: #808080 ;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    top: -50px;
    cursor: pointer;
    z-index: 1000;
    margin-left: -32px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.filter_right {
position:absolute;
right:0px;
height:100%;width:360px;background:url(http://globallivingmagazine.com/wp-content/uploads/2013/08/straffanhouse-1024x700.jpg);
background-position:100%;top:0px;z-index:100;
background-repeat:repeat-y; border: 1px solid #cdcdcd;
}
.filter_right:before {
background:rgba(0,0,0,0.4);
width:100%;
height:100%;position:absolute;
content:'';
}

.filter-property {
    position: relative;
    width: 40px;
    float: left;

}


/* end pop section */

.menu-prop{
background: #ebebeb;
    position: absolute;
    z-index: 100;
    width: 94%;
    top: 0px;
    line-height: 55px;
    height: 55px;
    left: 90px;
    color: #000;
}
.menu-prop ul li{
    display: inline-block;
    /* padding: 10px 20px; */
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-prop ul {
margin-bottom:0px;	
}
.menu-prop ul li a{
color:#000;	    padding: 5px 10px; text-transform:uppercase;
}
.menu-prop ul li a.active{
color:#fff;
background:#252525;
border-radius:30px;	
}
.logo img{
z-index:1000;
position:relative;	
}
.cls-pop-text.popular_text{
left:-5px;
width:50%;	
}

.alert.alert-danger.print-error-msg ul {

	margin: 9px;
	padding: 0;
}
.modal{
overflow:scroll;	
}
.btn-submit-reg, .btn-submit-reg:focus, .btn-submit-reg.focus, .btn-submit-reg:hover, .btn-submit-reg.hover{
background:#000;
border-radius:30px;
color:#fff;padding: 5px 10px;
    text-transform: uppercase;    border-color: #000;	
}
@media (min-width: 768px){
.navbar-nav > li > a {
    padding-top: 8px;
    font-size: 13px;
    padding-bottom: 8px;
    font-weight: 600;
}
}

@media (max-width:1200px){
.residential_grid_ul > li{
width: 25%;
    padding: 10px 10px;	
}
.category_list ul li{
width:16.5%;	
}


}

@media (max-width:992px)
{
.residential_grid_ul > li {
    width: 33%;
    padding: 10px 10px;
}
.category_list ul li{
width:30%;	
}

}

@media (max-width:768px)
{
.residential_grid_ul > li {
    width: 50%;
    padding: 10px 10px;
}
.category_list ul li{
width:45%;	
}

}

@media (max-width:480px)
{
.residential_grid_ul > li {
    width: 100%;
    padding: 10px 10px;
	margin:auto;
}
.category_list ul li{
width:100%;	
}


}

